body * {
    border: none  rgb(5, 52, 134);
    font-family: "Baloo 2", sans-serif;
    

}

#title-fortifier {
    text-align: center;
}

#timer-fortifier {
    text-align: right;
}

#booster-button {
    display: none;
}
.cell medium-7 {
    border:none
}

.grid-x { background-color: rgb(5, 52, 134);}

.reveal {background-color: rgb(41, 227, 93);}
.grid-x {
    color:aliceblue;
}