font-family: fantasy;

body * {
    border: 1px solid  rgb(5, 52, 134);
}

#title-fortifier {
    text-align: center;
}

#timer-fortifier {
    text-align: right;
}

#booster-button {
    display: none;
}
.cell medium-7 {
    border:none
}

.grid-x { background-color: rgb(5, 52, 134);}

.reveal {background-color: purple;}
.grid-x {
    color:aliceblue;
}